<div class="main-section layout-two-columns">
    <div data-computers-breadcrumb-drct></div>
    <section class="left-panel" data-ng-class="{ 'close': panelCollapsed }">
        <div class="panel-toggle" data-ng-click="togglePanel()">
            <i class="glyphicon glyphicon"
                data-ng-class="{'glyphicon-list':panelCollapsed, 'glyphicon-eye-close': !panelCollapsed}"
                ></i>
        </div>
        <article>
            <div class="section-body">
                <div class="computers-tree tree-classic"
                        treecontrol
                        data-tree-model="computersTree"
                        data-options="treeOptions"
                        data-on-selection="showSelected(node)"
                        data-selected-node="selectedNode"
                        data-expanded-nodes="expandedNode">
                    <!-- add `data-name` attr for find in E2E test -->
                    <span data-name="{{node.name}}" data-ng-bind="node.name"></span>
                </div>
            </div>
        </article>
    </section>

    <section class="right-panel" data-table-pagination-drct>
        <article class="layout-table">
            <header>
                <nav class="first-header">
                    <div class="input-group search">
                        <input type="text" class="form-control" aria-hidden="true" data-ng-model="searchKeyword">
                        <span class="input-group-addon glyphicon glyphicon-search"></span>
                    </div>
                    <h3 class="title-node">{{selectedNode.name || 'Computers'}}</h3>
                </nav>
                <nav class="second-header">
                    <button data-ng-disabled="!selectedRow" data-ng-click="gotoDetail(selectedRow)">
                        <i class="glyphicon glyphicon-new-window"></i>
                        <span data-ng-bind="'computersSection.detail' | i18next"></span>
                    </button>
                    <button>
                        <i class="glyphicon glyphicon-export"></i>
                        <span data-ng-bind="'computersSection.export' | i18next"></span>
                    </button>
                </nav>
            </header>
            <div class="layout-table-content" data-ng-table="tableParams">
                <table>
                    <thead>
                        <tr>
                            <th data-ng-repeat="column in columnsData"
                                    data-ng-show="column.show"
                                    data-ng-bind="'computersSection.columns.' + column.i18nkey | i18next">
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-repeat="item in $data | tableItemsFltr : parentReferences : selectedNode | filter: searchKeyword"
                                data-ng-click="selectRow(item)"
                                data-ng-Dblclick="gotoDetail(item)"
                                data-ng-class="{ selected: selectedRow.ID === item.ID }">
                            <td data-ng-repeat="column in columnsData"
                                    data-ng-show="column.show"
                                    data-context-menu="contextuals/computer.html"
                                    data-ng-mousedown="handleComputerClick($event, selectRow, item)">
                                <!-- Status column -->
                                <div data-ng-if="column.id === 3" class="circle" data-ng-class="item.hostLight"></div>
                                {{item[column.valueName]}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </article>
    </section>
</div>
